html,body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

#upper_half{
  height:50%;
  width:100%;
  /* background:#f00; */
}

#lower_half{
  height:50%;
  width:100%;
  /* background:#00f; */
}

.row {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}
